@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["PageInfo"] = "Page Information";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["PageInfo"]</h2>

<p>This page is under construction as of @ViewData["TimeStamp"].</p>
